// Configuración de colores base de todo el proyecto

$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary:#0277db;
$primary-dark:#004c8c;
$primary-light:#58a5f0;
$on-primary:#ffffff;

$secodary:#f44336;
$secodary-dark:#b90007;
$secodary-light:#ff795d;
$on-secodary:#ffffff;

$error:#B00020;
$on-error:#ffffff;

$success:#99AA00;
$on-success:#ffffff;
