<section class="flex-container">
  <div class="row">
    <mat-card>
      <mat-card-title>Pagina no encontrada</mat-card-title>
      <mat-card-subtitle>url no existe</mat-card-subtitle>
      <mat-card-content>
        <p>Seleccionar otra ruta url</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
