.flex-container{
  height: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  width: auto;
}

.mat-card{
  max-width: 900px;
  min-width: 400px;
  text-align: center;
  margin-top: 20px;

}
