<section class="flex-container">
  <div class="row">
    <mat-card>
      <mat-card-title>Curso Angular</mat-card-title>
      <mat-card-subtitle>Desarrollo Pro de Apps</mat-card-subtitle>
      <mat-card-content>
        <p>Curso de back y front con angular</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
