.wrapper{
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background:rgba(255, 255, 255,0.65);
  border-radius: 8px;
}

.spinner{
  width: 100%;
  height: 100%;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  position: relative;
}
