<app-spinner *ngIf="loading$ | async "></app-spinner>
<section fxLayoutAlign="center">
  <mat-card>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
      #f="ngForm" (ngSubmit)="registrarUsuario(f)">

      <mat-form-field>
        <mat-label>Ingrese Nombre</mat-label>
        <input type="text" matInput placeholder="Ingrese Nombre" name="nombre"
          ngModel
          required>
        <mat-error>Debe ingresar un Nombre</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese Apellido</mat-label>
        <input type="text" matInput placeholder="Ingrese Apellidp"
          name="apellido" ngModel
          required>
        <mat-error>Debe ingresar un Apellido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese UserName</mat-label>
        <input type="text" matInput placeholder="Ingrese UserName"
          name="username" ngModel
          required>
        <mat-error>Debe ingresar un UserName</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese Telefono</mat-label>
        <input type="text" matInput placeholder="Ingrese Telefono"
          name="telefono" ngModel
          required>
        <mat-error>Debe ingresar un Telefono</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese E-mail</mat-label>
        <input type="email" matInput placeholder="E-mail" name="email" ngModel
          required>
        <mat-error>Debe ingresar un E-mail</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese Password</mat-label>
        <input type="password" matInput placeholder="Password" name="password"
          ngModel required minlength="7">
        <mat-error>Debe ingresar mas de 7 caracteres</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingrese Password</mat-label>
        <input type="password" matInput placeholder="Confirmar Password"
          name="passwordConfirme" gModel required minlength="7">
        <mat-error>Debe ingresar mas de 7 caracteres</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Enviar</button>

    </form>
  </mat-card>
</section>
