<app-spinner *ngIf="loading$ | async"></app-spinner>

<mat-toolbar color="secondary">
  <span>Registrar nuevo inmueble</span>
</mat-toolbar>

<section fxLayoutAlign="center">
  <mat-card>
    <!-- el button de abajo al ser submit, llama al evento (ngSubmit) -->
    <form fxLayout="column"
    fxLayoutAlign="center center"
    #f = "ngForm"
    (ngSubmit) = "registrarInmueble(f)"
    fxLayoutGap="10px">

    <div class="personal_photo">
      <div class="photo">
        <app-entity-photo class="photo_img"[photoURL]="photoLoaded"></app-entity-photo>
        <button mat-button appFilesUpload (changed)="onFilesChanged($event)">
          <mat-icon>upload</mat-icon>
          Subir imagen
        </button>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Ingrese nombre:</mat-label>
      <input type="text" ngModel name="nombre"
      required placeholder="Ingrese nombre"
      matInput/>
      <mat-error>Debe ingresar un nombre</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingrese direccion:</mat-label>
      <input type="text" ngModel name="direccion"
      required placeholder="Ingrese direccion"
      matInput/>
      <mat-error>Debe ingresar una direccion</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingrese precio:</mat-label>
      <input type="text" ngModel name="precio"
      required placeholder="Ingrese precio"
      matInput/>
      <mat-error>Debe ingresar el precio</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Guardar inmueble</button>

    </form>
  </mat-card>
</section>
