<!-- <button (click)="onToggleSpinner()">Toggle Spinner</button>
<app-spinner *ngIf="showSpinner"></app-spinner> -->
<!-- el objeto $event es el que tiene todas la URLs, de los archivos subidos a firebase -->
<!-- <button appFilesUpload [multiple]="true" (changed)="onFilesChanged($event)">Subir imagenes al servidor</button>
<button (click)="onSuccess()">Mensaje de exito</button>
<button (click)="onError()">Mensaje de Error</button> -->

<mat-sidenav-container>

  <mat-sidenav #menu> <!-- <p>Elemento Side</p> -->
    <app-menu-list (menuToggle)="menu.toggle()" (signOut)="onSignOut()"></app-menu-list>
    [isAuthorized] = "isAuthorized | async"
  </mat-sidenav>

  <mat-sidenav-content> <!-- <button (click)="menu.toggle()">Abrir</button> -->
    <app-header (menuToggle)="menu.toggle()"
    [isAuthorized] = "isAuthorized$ | async"
    [user] = "user$ | async"
    (signOut)="onSignOut()">
      <!-- app-header, es el nombre que encontramos en el selector, dentro del archivo de
      header.component.ts  -->
    </app-header>

    <main>
      <router-outlet>

      </router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
